/* word suit */
.word-suit {
}

.word-suit-notrump:after {
    content: 'N';
    color: gray;
}

.word-suit-spades::after {
    content: '♠';
    color: blue;
}

.word-suit-hearts::after {
    content: '♥';
    color: red;
}

.word-suit-diams::after {
    content: '♦';
    color: orange;
}

.word-suit-clubs::after {
    content: '♣';
    color: green;
}

/* bids */
.bids {
    margin-left: 20px;
    margin-right: 20px;
}

.bids-title {
    font-size: 110%;
}

.bids-row {
}

.bids-bid {
    font-weight: bold;
    display: inline-block;
    min-width: 75px;
    font-size: 110%;
    width: 75px;
}
.bids-biddef {
    width: calc(100% - 75px);
    display: inline-block;
    vertical-align: top;
}
.bids-bid-long {
    font-weight: bold;
    display: inline-block;
    width: 30%;
    font-size: 110%;
}
.bids-biddef-long {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}