/* word suit */
.word-suit {
    line-height: 1ex;
}


.word-suit-notrump {
    font-size:90%;
}

.word-suit-spades {
    font-size: 120%;
}

.word-suit-hearts {
    font-size: 105%;
}

.word-suit-diams {
    font-size: 125%;
}

.word-suit-clubs {
    font-size: 110%;
}

.word-suit-notrump:after {
    content: 'N';
    color: Dimgray;
}

.word-suit-spades::after {
    content: '♠';
    color: blue;
}

.word-suit-hearts::after {
    content: '♥';
    color: red;
}

.word-suit-diams::after {
    content: '♦';
    color: orange;
}

.word-suit-clubs::after {
    content: '♣';
    color: green;
}

/* bids */
.bids {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 0em;
    margin-bottom: 1em;
}

.bids-title {
    font-size: 115%;
    font-weight: 600;
}

.bids-row {

}

.bids-bid {
    font-weight: bold;
    display: inline-block;
    font-size: 110%;
    width: 5em;
    vertical-align: top;
}
.bids-biddef {
    width: calc(100% - 6em);
    display: inline-block;
    vertical-align: middle;
}
.bids-bid-long {
    font-weight: bold;
    display: inline-block;
    width: 30%;
    font-size: 110%;
}
.bids-biddef-long {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}